[include orbiter_sensor.cfg]
[include scanner]

[mcu toolhead]
canbus_uuid: 8909d644e9ea # run the following command to locate the uuid >   ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0

[temperature_sensor toolhead_board]
sensor_type: temperature_mcu
sensor_mcu: toolhead

[board_pins EBB36_G0B1_v1.2]
mcu: toolhead
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4

[heater_fan hotend_fan]
pin: toolhead:FAN1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan]
pin: toolhead:FAN0
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

[extruder]
step_pin: toolhead:EXT_STEP
dir_pin: toolhead:EXT_DIR
enable_pin: !toolhead:EXT_EN
rotation_distance: 4.637
microsteps: 16
full_steps_per_rotation: 200
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
filament_diameter: 1.750
heater_pin: toolhead:HE0
sensor_pin: toolhead:TH0
sensor_type: NTC 100K MGB18-104F39050L32
min_temp: 0
max_temp: 350

[tmc2209 extruder]
uart_pin: toolhead:EXT_UART
stealthchop_threshold: 0
run_current: 0.85

[adxl345]
cs_pin: toolhead:ADXL_CS
spi_software_sclk_pin: toolhead:ADXL_SCLK
spi_software_mosi_pin: toolhead:ADXL_MOSI
spi_software_miso_pin: toolhead:ADXL_MISO
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    175,175,20  # an example for a 350mm printer

# RGB
[neopixel hotend_LED]
pin: toolhead:RGBLED
chain_count: 12
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

#///////////////////////////filament sensor button macros/////////////////////////////////////////////////
[gcode_button filament_sense]
pin: !toolhead:LIMIT_2 # remove the negation "!" for sensor v1 - use just PA9 as example
press_gcode: # sensor released  -runnout detected!
  runnout_init
release_gcode: #gcode macro for filament auto-load, sensor pressed
  filament_load_init
#********************************************************************************************************

#////////////////////////////////////////Filament Unload macros/////////////////////////////////////////////////
[gcode_button filament_unload]
pin: !toolhead:LIMIT_3 # remove the negation "!" for sensor v1 - use just PA9 as example
release_gcode:  # filament unload procedure
  filament_unload_init
press_gcode: # do not add any macro call here
